*.s         text eol=lf
*.sx        text eol=lf
*.S         text eol=lf
*.c         text eol=lf
*.dma       text eol=lf
*.h         text eol=lf
*.hex       text eol=lf
*.m         text eol=lf
*.lcf       text eol=lf
*.lua       text eol=lf
*.py        text eol=lf
*.tcl       text eol=lf
*.sh        text eol=lf
*.xml       text eol=crlf
*.launch    text eol=crlf
*.prefs     text eol=crlf
.project    text eol=crlf
.cproject   text eol=crlf
*.bin       binary
*.xlsx      -crlf -diff -merge
*.docx      -crlf -diff -merge
*.pdf       -crlf -diff -merge
*.jpg       -crlf -diff -merge
*.png       -crlf -diff -merge

.gitattributes  export-ignore
.gitignore      export-ignore
